In [123]:
import numpy as np 
import pandas as pd
import ast

In [124]:
movies_data_set = pd.read_csv('tmdb_5000_movies.csv')
credits_data_set = pd.read_csv('tmdb_5000_credits.csv')

In [125]:
movies_data_set = movies_data_set.merge(credits_data_set,on='title')

In [126]:
movies_data_set = movies_data_set[['movie_id','title','overview','genres','keywords','cast','crew']]

In [127]:
def convert_data(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [128]:
movies_data_set.dropna(inplace=True)

In [129]:
movies_data_set['genres'] = movies_data_set['genres'].apply(convert_data)
movies_data_set.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [130]:
movies_data_set['keywords'] = movies_data_set['keywords'].apply(convert_data)
movies_data_set.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [131]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [132]:
movies_data_set['cast'] = movies_data_set['cast'].apply(convert_data)
movies_data_set.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [133]:
movies_data_set['cast'] = movies_data_set['cast'].apply(lambda x:x[0:3])

In [134]:
def find_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [135]:
movies_data_set['crew'] = movies_data_set['crew'].apply(find_director)

In [136]:
movies_data_set.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
2153,48289,The Debt,Rachel Singer is a former Mossad agent who tri...,"[Drama, Thriller]","[beach, mossad, secret agent, insane asylum, l...","[Helen Mirren, Ciarán Hinds, Tom Wilkinson]",[John Madden]
1021,2148,The Cotton Club,The story of the people that frequented Harlem...,"[Music, Drama, Crime, Romance]","[jazz, jazz musician, musical, mafia]","[Richard Gere, Gregory Hines, Diane Lane]",[Francis Ford Coppola]
2089,16363,The Best Little Whorehouse in Texas,The town sheriff and a madame team up to stop ...,[Comedy],"[brothel, corset, crusader, musical, governor,...","[Burt Reynolds, Dolly Parton, Dom DeLuise]",[Colin Higgins]
3377,13006,Split Second,"In a futuristic London, the rising sea levels ...","[Thriller, Action, Horror, Science Fiction, Cr...","[flooding, futuristic, police detective]","[Rutger Hauer, Kim Cattrall, Michael J. Pollard]",[Tony Maylam]
4317,15544,Extreme Movie,A sketch comedy movie about the joys and embar...,[Comedy],[],"[Patrick J. Adams, Ryan Pinkston, Denise Boutte]","[Adam Jay Epstein, Andrew Jacobson]"

In [137]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [138]:
movies_data_set['cast'] = movies_data_set['cast'].apply(collapse)
movies_data_set['crew'] = movies_data_set['crew'].apply(collapse)
movies_data_set['genres'] = movies_data_set['genres'].apply(collapse)
movies_data_set['keywords'] = movies_data_set['keywords'].apply(collapse)

In [139]:

movies_data_set.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [140]:
movies_data_set['overview'] = movies_data_set['overview'].apply(lambda x:x.split())

In [141]:
movies_data_set['tags'] = movies_data_set['overview'] + movies_data_set['genres'] + movies_data_set['keywords'] + movies_data_set['cast'] + movies_data_set['crew']

In [142]:
new_data_set= movies_data_set.drop(columns=['overview','genres','keywords','cast','crew'])
#new.head()

In [143]:
new_data_set['tags'] = new_data_set['tags'].apply(lambda x: " ".join(x))
new_data_set.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [144]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [145]:
movie_vector = cv.fit_transform(new_data_set['tags']).toarray()

In [146]:
movie_vector.shape

(4806, 5000)

In [147]:
from sklearn.metrics.pairwise import cosine_similarity

In [148]:
similarity = cosine_similarity(movie_vector)

In [149]:
similarity

array([[1.        , 0.08964215, 0.06071767, ..., 0.02519763, 0.0277885 ,
        0.        ],
       [0.08964215, 1.        , 0.06350006, ..., 0.02635231, 0.        ,
        0.        ],
       [0.06071767, 0.06350006, 1.        , ..., 0.02677398, 0.        ,
        0.        ],
       ...,
       [0.02519763, 0.02635231, 0.02677398, ..., 1.        , 0.07352146,
        0.04774099],
       [0.0277885 , 0.        , 0.        , ..., 0.07352146, 1.        ,
        0.05264981],
       [0.        , 0.        , 0.        , ..., 0.04774099, 0.05264981,
        1.        ]])

In [160]:
new_data_set[new_data_set['title'] == 'The Lego Movie'].index[0]

744

In [167]:
def recommend_movie(movie):
    index = new_data_set[new_data_set['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:11]:
        print(new_data_set.iloc[i[0]].title)

In [168]:
recommend_movie('Avatar')

Titan A.E.
Small Soldiers
Ender's Game
Aliens vs Predator: Requiem
Independence Day
Krull
Lifeforce
Battle: Los Angeles
Falcon Rising
Edge of Tomorrow

In [153]:
import pickle

In [154]:
pickle.dump(new_data_set.to_dict(),open('movie_dictionary.pkl','wb'))

In [155]:
pickle.dump(similar,open('Similarity.pkl','wb'))

In [156]:
new_data_set.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [169]:
recommend_movie('John Carter')

Star Trek: Insurrection
Mission to Mars
Captain America: The First Avenger
Escape from Planet Earth
Ghosts of Mars
The Martian
Captain America: Civil War
Damnation Alley
The Marine 4: Moving Target
Dune

In [170]:
recommend_movie('Spectre')

Quantum of Solace
Never Say Never Again
Skyfall
Thunderball
From Russia with Love
Diamonds Are Forever
Dr. No
Safe Haven
Die Another Day
Licence to Kill